@{
    ViewData["Title"] = "Home Page";
}


@* for Anonimous User *@

@if (User.Identity == null || !User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="display-4">Welcome to the Antique Bookstore</h1>

        <p>Management system where we sell rare and antique books.</p>

        <p>Please <a asp-area="Identity" asp-page="/Account/Login">log in</a> or <a asp-area="Identity" asp-page="/Account/Register">register</a> to continue.</p>

        <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
}



@* for Authenticated User *@

@if (User.Identity != null && User.Identity.IsAuthenticated)
{

    @* for Managers (Admin) *@

    @if (User.IsInRole("Manager"))
    {
        <div class="text-center">
            <h2 class="display-4">Manager Dashboard</h2>
            <p>Welcome back, Manager @User.Identity.Name!</p>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h2>Quick Actions</h2>
                <ul>
                    <li><a asp-controller="UserManagement" asp-action="Index">Manage User Roles</a></li>

                    <li><a href="#">View Recent Orders</a> @* TO BE DONE LINK *@</li>
                    <li><a href="#">Manage Catalog Inventory</a> @* TO BE DONE LINK *@</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>New Sales Notifications</h3>
                <p>No new notifications.</p> @* TO BE DONE AJAX *@
            </div>
        </div>
    }


    @* for Sales *@

    @if (User.IsInRole("Sales"))
    {
        <div class="text-center">
            <h1 class="display-4">Sales Dashboard</h1>
            <p>Welcome back, @User.Identity.Name!</p>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-6">
                <h2>Your Tasks</h2>
                <ul>
                    <li><a href="#">Create New Sale</a> @* TO BE DONE LINK *@</li>
                    <li><a href="#">View Your Recent Sales</a> @* TO BE DONE LINK *@</li>
                    <li><a href="#">Browse Book Catalog</a> @* TO BE DONE LINK *@</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2>Recent Activity</h2>
                <p>No recent activity to display.</p> @* Сюда можно добавить динамическую загрузку *@
            </div>
        </div>
    }

    @* Authenticated WAITING FOR LINKING *@

    @if (!User.IsInRole("Manager") && !User.IsInRole("Sales"))
    {
        <div class="text-center">
            <h1 class="display-4">New users are welcomed!</h1>
            <p>Hello, @User.Identity.Name!</p>
            <p>Your account is pending activation.</p>
        </div>
    }

}

