@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model AntiqueBookstore.Models.EmployeeCreateViewModel

@{
    ViewData["Title"] = "Create Employee";
}

<h3>@ViewData["Title"]</h3>
<hr />

<div class="row">
    <div class="col-md-6">

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="HireDate" class="form-label"></label>
                <input asp-for="HireDate" class="form-control" type="date" /> @* TODO: type date in other places *@
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SelectedPositionId" class="form-label"></label>
                @* Drop down list *@
                @* asp-for target (ID) asp-items collection (SelectList from ViewModel) *@
                <select asp-for="SelectedPositionId" class="form-select" asp-items="@Model.Positions">
                    <option value="">-- Select Position --</option> 
                </select>
                <span asp-validation-for="SelectedPositionId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Comment" class="form-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>

            <div class="mt-4">
                <input type="submit" value="Create" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>

        </form>

    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

