@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<AntiqueBookstore.Domain.Entities.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h3>Employees</h3>

<p>
    <a asp-action="Create">Create New Employee</a>
</p>

<p>Employee list table.</p>

@* TODO: employee list table *@


