@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model AntiqueBookstore.Models.BookCreateViewModel

@{
    ViewData["Title"] = "Add New Book";
}

<h1>Add New Book</h1>

<h4>Book Details</h4>
<hr />

<div class="row">

    <div class="col-md-8">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-8">
                    <label asp-for="Publisher" class="form-label"></label>
                    <input asp-for="Publisher" class="form-control" rows="3"></input>
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="PublicationDate" class="form-label"></label>
                    <input asp-for="PublicationDate" class="form-control" rows="3"></input>
                    <span asp-validation-for="PublicationDate" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="PurchasePrice" class="form-label"></label>
                    <input asp-for="PurchasePrice" class="form-control" />
                    <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="RecommendedPrice" class="form-label"></label>
                    <input asp-for="RecommendedPrice" class="form-control" rows="3"></input>
                    <span asp-validation-for="RecommendedPrice" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="ConditionId" class="form-label"></label>
                    <select asp-for="ConditionId" class="form-select" asp-items="Model.Conditions">
                        <option value="">-- Select Condition --</option>
                    </select>
                    <span asp-validation-for="ConditionId" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="StatusId" class="form-label"></label>
                    <select asp-for="StatusId" class="form-select" asp-items="Model.Statuses">
                        <option value="">-- Select Status --</option>
                    </select>
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>
            </div>

            @*<div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Authors" class="form-label"></label>
                    <select asp-for="Authors" class="form-select" multiple asp-items="Model.Authors">
                        @* <option value="">-- Select Author --</option> *@
                    @*</select>
                    <span asp-validation-for="Authors" class="text-danger"></span>
                </div>
            </div>*@

            <div class="row mb-3">
                <div class="col-md-12">
                    <label asp-for="SelectedAuthorIds" class="form-label"></label>
                    @* ISSUE: use an explicit closing tag </select> *@
                    <select asp-for="SelectedAuthorIds" asp-items="Model.Authors" id="authorSelectList" class="form-control" multiple="multiple" size="6" ></select>
                    @* Size sets list hight *@
                    <span asp-validation-for="SelectedAuthorIds" class="text-danger"></span>
                    @* <small class="form-text text-muted">Hold down CTRL (or Command) to select multiple authors.</small> *@
                </div>
                @* TODO: Button "Add New Author" below *@
            </div>

            <div class="row mb-3">
                <div class="col-md-8">
                    <label asp-for="CoverImageFile" class="control-label"></label>
                    <input asp-for="CoverImageFile" type="file" class="form-control" /> @* Validate types accept="image/jpeg, image/png, image/gif" *@
                    <span asp-validation-for="CoverImageFile" class="text-danger"></span>
                </div>

                <div class="col-md-2 offset-2">
                    <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#addAuthorModal">
                        <i class="bi bi-plus-circle"></i> Add New Author
                    </button>
                </div>
            </div>

            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Create Book</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>

        </form>
    </div>

    <div class="col-md-3 offset-md-1">
        <h5>[INFO] Considerations</h5>
        <hr />
        <p>
            <strong>Book Title:</strong> Please enter carefuly bla bla bla. 
        </p>
        <p>
            <strong>Publisher:</strong> The concept of publishing house bla bla.
        </p>
        <p>
            <strong>Dates:</strong> Most of the date a book was published can be bla bla.
        </p>
        <p>
            <strong>Cover:</strong> Upload a clear image of a book cover (JPG, PNG, GIF format, max 5MB).
        </p>

    </div>

</div>

<hr />

@* TODO: Bootstrap Modal window AJAX *@

<div class="modal fade" id="addAuthorModal" tabindex="-1" aria-labelledby="addAuthorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <div class="modal-header">
                <h5 class="modal-title" id="addAuthorModalLabel">Add New Author</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body" id="addAuthorModalBody">
                @* Create Author form *@
                Loading...
            </div>

            @* INFO: Footer can be removed if Submit is inside loaded form *@
            @* <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveAuthorButton">Save Author</button>
            </div> *@

        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {

            var authorModal = new bootstrap.Modal(document.getElementById('addAuthorModal'));
            var authorModalBody = $('#addAuthorModalBody');
            var authorSelectList = $('#authorSelectList'); // select
            var authorAjaxErrorDiv = $('#authorAjaxError'); // error modal 

            // OPEN view 

            $('#addAuthorModal').on('show.bs.modal', function (event) {
                // content filler string 
                authorModalBody.html('Loading...');
                // cleanup hide content errors
                if(authorAjaxErrorDiv.length) authorAjaxErrorDiv.hide().text('');

                // Load the Author create form via AJAX [GET]
                $.get('/Authors/GetAuthorCreatePartial') // action return _CreateAuthorPartial
                    .done(function (data) {
                        authorModalBody.html(data);
                        // parse validators
                        $.validator.unobtrusive.parse(authorModalBody.find('form'));
                    })
                    .fail(function () {
                        authorModalBody.html('<div class="alert alert-danger">Failed to load author form. Please try again.</div>');
                    });
            });

            // SEND form

            // Event delegation $(document).on(...) for the form which loaded dynamically
            $(document).on('submit', '#createAuthorAjaxForm', function (e) {
                e.preventDefault();

                var form = $(this);
                var errorDiv = form.find('#authorAjaxError');
                 errorDiv.hide().text(''); 

                // Client-side validation
                if (!form.valid()) {
                    return; 
                }

                // Send form data via AJAX [POST], use serialize data
                $.ajax({
                    url: form.attr('action'),
                    method: form.attr('method'), 
                    data: form.serialize(), 
                    success: function (response) {
                        console.log(response);

                        if (response.success) {
                            // ok
                            authorModal.hide();

                            // push to select list
                            var newOption = new Option(response.displayName, response.id, false, true);
                            authorSelectList.append(newOption);

                            // show success message (Toastr, CSS JS, non-blocking notification)
                            //toastr.success('Author "' + response.displayName + '" added successfully!');

                        } else {
                            // Error: server validation or other
                            var errorMessage = "An error occurred.";
                            
                            if (response.errors && response.errors.length > 0) {
                                errorMessage = response.errors.join('<br>');
                            } else if (response.message) {
                                errorMessage = response.message; 
                            }
                            errorDiv.html(errorMessage).show(); // in modal window
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        // Error: network or server 
                        console.error("AJAX Error:", textStatus, errorThrown);
                         errorDiv.text('A network or server error occurred. Please try again.').show();
                    }

                });
            });

             // CLEAN form 

             $('#addAuthorModal').on('hidden.bs.modal', function (event) {
                 authorModalBody.html('Loading...'); 
             });
        });
    </script>
}
