@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model AntiqueBookstore.Models.BookCreateViewModel

@{
    ViewData["Title"] = "Add New Book";
}

<h1>Add New Book</h1>

<h4>Book Details</h4>
<hr />

<div class="row">

    <div class="col-md-8">
        <form asp-action="Create" method="post" enctype="multipart/form-data">

            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label asp-for="Title" class="form-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-8">
                    <label asp-for="Publisher" class="form-label"></label>
                    <input asp-for="Publisher" class="form-control" rows="3"></input>
                    <span asp-validation-for="Publisher" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label asp-for="PublicationDate" class="form-label"></label>
                    <input asp-for="PublicationDate" class="form-control" rows="3"></input>
                    <span asp-validation-for="PublicationDate" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="PurchasePrice" class="form-label"></label>
                    <input asp-for="PurchasePrice" class="form-control" />
                    <span asp-validation-for="PurchasePrice" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="RecommendedPrice" class="form-label"></label>
                    <input asp-for="RecommendedPrice" class="form-control" rows="3"></input>
                    <span asp-validation-for="RecommendedPrice" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="ConditionId" class="form-label"></label>
                    <select asp-for="ConditionId" class="form-select" asp-items="Model.Conditions">
                        <option value="">-- Select Condition --</option>
                    </select>
                    <span asp-validation-for="ConditionId" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <label asp-for="StatusId" class="form-label"></label>
                    <select asp-for="StatusId" class="form-select" asp-items="Model.Statuses">
                        <option value="">-- Select Status --</option>
                    </select>
                    <span asp-validation-for="StatusId" class="text-danger"></span>
                </div>
            </div>

            @*<div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="Authors" class="form-label"></label>
                    <select asp-for="Authors" class="form-select" multiple asp-items="Model.Authors">
                        @* <option value="">-- Select Author --</option> *@
                    @*</select>
                    <span asp-validation-for="Authors" class="text-danger"></span>
                </div>
            </div>*@

            <div class="row mb-3">
                <div class="col-md-12">
                    <label asp-for="SelectedAuthorIds" class="form-label"></label>
                    @* ISSUE: use an explicit closing tag </select> *@
                    <select asp-for="SelectedAuthorIds" asp-items="Model.Authors" class="form-control" multiple="multiple" size="6" ></select>
                    @* Size sets list hight *@
                    <span asp-validation-for="SelectedAuthorIds" class="text-danger"></span>
                    @* <small class="form-text text-muted">Hold down CTRL (or Command) to select multiple authors.</small> *@
                </div>

                @* Button "Add New Author" *@
                @* <a asp-controller="Authors" asp-action="Create" target="_blank" class="btn btn-sm btn-link mt-1">Add New Author</a> *@
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label asp-for="CoverImageFile" class="control-label"></label>
                    <input asp-for="CoverImageFile" type="file" class="form-control" /> @* Validate types accept="image/jpeg, image/png, image/gif" *@
                    <span asp-validation-for="CoverImageFile" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group mt-4">
                <button type="submit" class="btn btn-primary">Create Book</button>
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>

        </form>
    </div>

    <div class="col-md-3 offset-md-1">
        <h5>[INFO] Considerations</h5>
        <hr />
        <p>
            <strong>Book Title:</strong> Please enter carefuly bla bla bla. 
        </p>
        <p>
            <strong>Publisher:</strong> The concept of publishing house bla bla.
        </p>
        <p>
            <strong>Dates:</strong> Most of the date a book was published can be bla bla.
        </p>
        <p>
            <strong>Cover:</strong> Upload a clear image of a book cover (JPG, PNG, GIF format, max 5MB).
        </p>

    </div>

</div>

<hr />


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}